<div class="container-fluid calendar-box">
  <div class="row">
    <div class="col-sm">
      <div class="daily-box" *ngFor="let data of daily">
        <div class="row">
          <div class="time-box">
            <h6 class="date-font-large" *ngIf="data.date.includes('00')">{{data.date}}</h6>
            <h6 class="date-font-small" *ngIf="data.date.includes('30')">{{data.date}}</h6>
          </div>
          <div *ngFor="let event of data.events">
            <div class="event-box" *ngIf="data.eventCount > 0 && data.eventCount <= 2"
                 [style.height.px]="event.height"
                 [style.width.px]="event.width">
              <h6 class="event-text">{{event.text}} </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-primary btn-box"  data-toggle="modal"
              data-target="#myModal">Add Event
      </button>
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form [formGroup]="formGroup" >
                <div class="form-group">
                  <label>Title</label>
                  <input type="text"
                         class="form-control"
                         placeholder="Event title"
                         formControlName="title">
                </div>
                <div class="form-group">
                  <label>Start</label>
                  <input type="text"
                         class="form-control"
                         placeholder="Start time"
                         formControlName="start">
                </div>
                <div class="form-group">
                  <label>Duration</label>
                  <input type="number"
                         class="form-control"
                         placeholder="Duration time"
                         formControlName="duration">
                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-box">Remove</button>
    </div>
  </div>
</div>
