.date-font-large {
  font-weight: 200;
  font-size: 16px;
  font-family: "Open Sans";
}
.date-font-small {
  font-weight: 200;
  font-size: 12px;
  font-family: "Open Sans";
}

.daily-box {
  height: 2px;
}
.time-box {
  text-align: right;
  margin-top: 2px;
  margin-right: 10px;
  width: 70px;
}

.btn-box {
  margin-top: 10px;
  margin-left: 5px;
}

.calendar-box {
  margin-top: 10px;
}
.event-box {
  margin-top: 5px;
  border-left: 4px solid #6E9ECF;
  background: #E2ECF5;
}

.event-text {
  margin-top: 4px;
  margin-left: 5px;
  font-family: "Open Sans";
  font-size: 14px;
}
